.LayeredButton {
	--clip-path: polygon(
		0% 0%, 
		85% 0%, 
		100% 50%, 
		85% 100%, 
		0% 100%
	);

	all: initial;
	font-family: inherit;

	position: relative;

	transition: 0.25s;
}

.LayeredButton:hover {
	cursor: pointer;
	filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.15));
}

.LayeredButton span {
	display: block;

	padding: 0.6em 1em;
	padding-right: 1.5em;
	border-top-left-radius: var(--b-radius);
	border-bottom-left-radius: var(--b-radius);

	background-color: var(--primary-color);
	color: var(--primary-bg-color);

	clip-path: var(--clip-path);
}

.LayeredButton::before,
.LayeredButton::after {
	content: "";

	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;

	height: 100%;
	width: 100%;
	border-top-left-radius: var(--b-radius);
	border-bottom-left-radius: var(--b-radius);

	clip-path: var(--clip-path);
}

.LayeredButton::before {
	transition: 0.25s ease-in-out;
}

.LayeredButton::after {
	transition: 0.28s ease-in-out;
}

.LayeredButton:hover::before {
	left: 10px;
	z-index: -1;

	transition: 0.25s ease-in-out;
	background-color: #ca8edb;
}

.LayeredButton:hover::after {
	left: 20px;
	z-index: -2;

	transition: 0.28s ease-in-out;
	background-color: var(--primary-bg-color);
}

.LayeredButton--lg {
	font-size: 1.2em;
}