.HeaderBottom {
	display: none;
	height: calc(var(--header-h) * 3/5);
}

.HeaderBottom__Tab {
	all: initial;

	display: flex;
	align-items: center;

	position: relative;

	height: 70%;
	padding: 0 1em;
	border-top-left-radius: var(--b-radius);
	border-top-right-radius: var(--b-radius);

	font-family: inherit;
	color: var(--primary-bg-color);

	transition: 0.25s ease-in-out;
}

.HeaderBottom__Tab--AddExpense {
	margin-left: auto !important;
	margin-block: 0.2em;	
	border-radius: var(--b-radius);
	background-color: var(--complimentary-color);

	color: var(--primary-color);
}

.HeaderBottom__Tab + .HeaderBottom__Tab {
	margin-left: var(--b-radius);
}

.HeaderBottom__Tab:hover {
	cursor: pointer;
	color: var(--light);
}

.HeaderBottom__Tab::before {
	content: "";

	position: absolute;
	left: 50%;
	top: 0;

	width: 0;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.15);
	border-top-left-radius: var(--b-radius);
	border-top-right-radius: var(--b-radius);

	transform: translateX(-50%);
	transition: 0.25s ease-in-out;
}

.HeaderBottom__Tab:hover::before {
	width: 100%;
}

.HeaderBottom__Tab--Active {
	color: var(--primary-color);
	background-color: var(--light);

	transition: 0.25s ease-in-out;
}

.HeaderBottom__Tab--Active:hover {
	color: var(--primary-bg-color) !important;
}

.HeaderBottom__Tab--Active::before {
	display: none;
}

.HeaderBottom__Tab--Active:hover span {	
	display: none;
}

.HeaderBottom__Tab--Active span:nth-of-type(1),
.HeaderBottom__Tab--Active span:nth-of-type(2) {
	position: absolute;
	top: 0;

	height: 100%;
	width: 5px;

	background: var(--light);
}

.HeaderBottom__Tab--Active span:nth-of-type(1) {
	left: -5px;
}

.HeaderBottom__Tab--Active span:nth-of-type(2) {
	right: -5px;
}

.HeaderBottom__Tab--Active span::before {
	content: "";

	position: absolute;
	left: 0;
	top: 0;
	z-index: 2;

	height: 100%;
	width: 100%;

	background-color: var(--primary-color);
}

.HeaderBottom__Tab--Active span:nth-of-type(1)::before {
	border-bottom-right-radius: var(--b-radius);
}

.HeaderBottom__Tab--Active span:nth-of-type(2)::before {
	border-bottom-left-radius: var(--b-radius);
}

/*SMALL TO LARGER SCREENS*/

@media (min-width: 560px) {
	.HeaderBottom {
		display: flex;
		align-items: flex-end;
	}
}