.TopBar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;

	width: 100%;
}

.TopBar .Container {
	display: flex;
	justify-content: space-between;

	height: var(--topbar-h);
}

.TopBar__LogoWrapper {
	margin-left: -1em;
}

.TopBar__Img {
	height: 100%;
	width: auto;
}

.TopBar__AuthButtons {
	display: flex;
	align-items: center;
}

.TopBar__AuthButton {
	all: initial;

	padding: 0.4em 0.8em;
	border-top-left-radius: var(--b-radius);
	border-bottom-left-radius: var(--b-radius);
	border: 1px solid var(--primary-color);


	background-color: var(--primary-color);
	color: var(--light);
	font-family: inherit;

	transition: 0.25s;
}

.TopBar__AuthButton:hover {
	cursor: pointer;
	filter: invert(0.1);
}

.TopBar__AuthButtons--Register {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;

	background-color: var(--light);
	color: var(--primary-color);
}