.AppHeader {
	--header-h: 100px;

	position: sticky;
	top: 0;

	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);

	height: calc(var(--header-h) * 2/5);
	background-color: var(--primary-color);
}

@media (min-width: 560px) {
	.AppHeader {
		height: var(--header-h);
		box-shadow: none;
	}
}